.header-icons{
display:flex;
gap:14px;
}

.header-icons i{
width:44px;
height:44px;
display:flex;
align-items:center;
justify-content:center;
border-radius:14px;
background:rgba(255,255,255,.03);
border:1px solid #311046;
font-size:18px;
color:#f0abfc;
cursor:pointer;
transition:.2s;
}

.header-icons i:hover{
transform:translateY(-2px);
border-color:#d946ef;
box-shadow:0 0 18px rgba(217,70,239,.25);
}
